{
    "Connections": [
        {
            "Key": "CFRV",
            "ConnectionString": "Data Source=ROLLERNOTE7;Initial Catalog=Clinica_CFRV_v1;Persist Security Info=True;User ID=sa;Password=sistema",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "ConfirmSave": false
                }
            ]
        },
        {
            "Key": "Clinica_DEV",
            "ConnectionString": "Data Source=ROLLERNOTE7;Initial Catalog=Clinica_DEV;Persist Security Info=True;User ID=sa;Password=sistema",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Agendas",
                    "Identifier": "Agendas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.AgendasItens",
                    "Identifier": "AgendasItens",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Autorizacoes",
                    "Identifier": "Autorizacoes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.AutorizacoesProcedimentos",
                    "Identifier": "AutorizacoesProcedimentos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.CBOS",
                    "Identifier": "Cbos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ConselhosProfissionais",
                    "Identifier": "ConselhosProfissionais",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Contatos",
                    "Identifier": "Contatos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ConveniosEmissaoNF",
                    "Identifier": "ConveniosEmissaoNf",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Convenios",
                    "Identifier": "Convenios",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": true
                },
                {
                    "Tablename": "dbo.Demonstrativos",
                    "Identifier": "Demonstrativos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.DemonstrativosItens",
                    "Identifier": "DemonstrativosItens",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.DemonstrativosNotasFiscais",
                    "Identifier": "DemonstrativosNotasFiscais",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.DiasSemanas",
                    "Identifier": "DiasSemanas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Enderecos",
                    "Identifier": "Enderecos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Escalas",
                    "Identifier": "Escalas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Especialidades",
                    "Identifier": "Especialidades",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.EspecialidadesProcedimentos",
                    "Identifier": "EspecialidadesProcedimentos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.EspecialidadesProfissionais",
                    "Identifier": "EspecialidadesProfissionais",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.EstadosCivis",
                    "Identifier": "EstadosCivis",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Exceptions",
                    "Identifier": "Exceptions",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Feriados",
                    "Identifier": "Feriados",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.FichasCNES",
                    "Identifier": "FichasCnes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.FolhasPagamentosProfissionais",
                    "Identifier": "FolhasPagamentosProfissionais",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.FolhasPagamentosProfissionaisItens",
                    "Identifier": "FolhasPagamentosProfissionaisItens",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Fornecedores",
                    "Identifier": "Fornecedores",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Guias",
                    "Identifier": "Guias",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Languages",
                    "Identifier": "Languages",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Lotes",
                    "Identifier": "Lotes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Pacientes",
                    "Identifier": "Pacientes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.PacientesConvenios",
                    "Identifier": "PacientesConvenios",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.PacientesEmissaoNF",
                    "Identifier": "PacientesEmissaoNf",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Porcentagem",
                    "Identifier": "Porcentagem",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Procedimentos",
                    "Identifier": "Procedimentos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Produtos",
                    "Identifier": "Produtos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Profissionais",
                    "Identifier": "Profissionais",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": true
                },
                {
                    "Tablename": "dbo.ProfissionaisAgendas",
                    "Identifier": "ProfissionaisAgendas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ProfissionaisAgendasBloqueios",
                    "Identifier": "ProfissionaisAgendasBloqueios",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ProfissionaisAgendasExcecoes",
                    "Identifier": "ProfissionaisAgendasExcecoes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ProfissionaisAgendasHoras",
                    "Identifier": "ProfissionaisAgendasHoras",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Protocolos",
                    "Identifier": "Protocolos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ProtocolosDetalhados",
                    "Identifier": "ProtocolosDetalhados",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.ProtocolosEnvolvidos",
                    "Identifier": "ProtocolosEnvolvidos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.RolePermissions",
                    "Identifier": "RolePermissions",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Roles",
                    "Identifier": "Roles",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Sessoes",
                    "Identifier": "Sessoes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Sexo",
                    "Identifier": "Sexo",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Status",
                    "Identifier": "Status",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.StatusDemonstrativos",
                    "Identifier": "StatusDemonstrativos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.StatusLotes",
                    "Identifier": "StatusLotes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.StatusSessoes",
                    "Identifier": "StatusSessoes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.SubConvenios",
                    "Identifier": "SubConvenios",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Tabelas",
                    "Identifier": "Tabelas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TipoEspecialidade",
                    "Identifier": "TipoEspecialidade",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposAutorizacoes",
                    "Identifier": "TiposAutorizacoes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposContatos",
                    "Identifier": "TiposContatos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposEnderecos",
                    "Identifier": "TiposEnderecos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposEnvolvimentos",
                    "Identifier": "TiposEnvolvimentos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposFeriados",
                    "Identifier": "TiposFeriados",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposFichasCNES",
                    "Identifier": "TiposFichasCnes",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposGuias",
                    "Identifier": "TiposGuias",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposItens",
                    "Identifier": "TiposItens",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposMeiosContatos",
                    "Identifier": "TiposMeiosContatos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposProfissionais",
                    "Identifier": "TiposProfissionais",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposProtocolos",
                    "Identifier": "TiposProtocolos",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposTabelas",
                    "Identifier": "TiposTabelas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TISS",
                    "Identifier": "Tiss",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.UserPermissions",
                    "Identifier": "UserPermissions",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.UserPreferences",
                    "Identifier": "UserPreferences",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.UserRoles",
                    "Identifier": "UserRoles",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Users",
                    "Identifier": "Users",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.Valores",
                    "Identifier": "Valores",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.VersionInfo",
                    "Identifier": "VersionInfo",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.TiposConsultas",
                    "Identifier": "TiposConsultas",
                    "Module": "Clinica",
                    "ConnectionKey": "CFRV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                },
                {
                    "Tablename": "dbo.sysdiagrams",
                    "Identifier": "Sysdiagrams",
                    "Module": "Clinica_dev",
                    "ConnectionKey": "Clinica_DEV",
                    "PermissionKey": "Administration:General",
                    "ConfirmSave": false
                }
            ]
        }
    ],
    "Languages": [
        {
            "LanguageId": "en",
            "LanguageName": "English",
            "ReplaceString": []
        },
        {
            "LanguageId": "ru",
            "LanguageName": "Russian",
            "ReplaceString": []
        },
        {
            "LanguageId": "es",
            "LanguageName": "Spanish",
            "ReplaceString": []
        },
        {
            "LanguageId": "tr",
            "LanguageName": "Turkish",
            "ReplaceString": []
        },
        {
            "LanguageId": "de",
            "LanguageName": "German",
            "ReplaceString": []
        },
        {
            "LanguageId": "zh-CN",
            "LanguageName": "Chinese (Simplified)",
            "ReplaceString": []
        },
        {
            "LanguageId": "it",
            "LanguageName": "Italian",
            "ReplaceString": []
        },
        {
            "LanguageId": "pt",
            "LanguageName": "Portuguese",
            "ReplaceString": []
        },
        {
            "LanguageId": "pt-BR",
            "LanguageName": "Portuguese (Brazil)",
            "ReplaceString": []
        },
        {
            "LanguageId": "fa",
            "LanguageName": "Farsi",
            "ReplaceString": []
        },
        {
            "LanguageId": "vi-VN",
            "LanguageName": "Vietnamese (Vietnam)",
            "ReplaceString": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\CFRV\\CFRV.Web\\CFRV.Web.csproj",
    "RootNamespace": "CFRV",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": true,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": true,
    "GenerateLookupEditor": true,
    "MaximizableDialog": true,
    "FieldDescriptionasPlaceholder": true,
    "ReplaceStringinDisplayName": true,
    "DefaultLanguage": "pt-BR",
    "GenerateRowswithAdvancedTips": true
}