
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Clinica.PacientesEmissaoNf.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Exemplos.Clinica.PacientesEmissaoNfGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>